.restaurant-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.restaurant-pic-container {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.restaurant-pic {
    width: 300px;
}

.info-row {
    display: flex;
    flex-direction: row;
}

.location-container {
    display: flex;
    flex-direction: column;
}

.info-location {
    font-size: 12px;
}

